<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="{{ ruta }}/dashboard/index" class="brand-link">
		<img src="{{ ruta }}/dist/img/logo_1.png" alt="Ecoapplet Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">LNB</span>
	</a>


	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img {% if user.userimg %} src="/liga/App/user/{{ user.userimg }}" {% else %} src="{{ ruta }}/dist/img/white.png" {% endif %} class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="{{ ruta }}/profile/show" class="d-block">{{ user.first_name }}</a>
			</div>
		</div>


		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
				
				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 8 %}
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-user"></i>
								<p>							
									Roles									
									<i class="fas fa-angle-left right"></i>
									{#<span class="badge badge-info right">6</span>#}
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/roles/index" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Roles y Permisos</p>
									</a>
								</li>
							</ul>							
						</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 1 %}
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-address-card"></i>
								<p>							
									Registro Deportivo									
									<i class="fas fa-angle-left right"></i>
									{#<span class="badge badge-info right">6</span>#}
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/renovacion/index" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Activar Renovación</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/renovacion/registro" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Renovar Registro</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/renovacion/registro" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Histórico Registro</p>
									</a>
								</li>
							</ul>
						</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 2 %}
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-edit"></i>
								<p>
									Opciones de Usuarios
									<i class="fas fa-angle-left right"></i>
									{#<span class="badge badge-info right">6</span>#}
								</p>
							</a>
							
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/usuarios/index" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Editar Usuario</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/usuarios/nuevoclub" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Crear Club</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/usuarios/editclub" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Ver - Editar Club</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/usuarios/nuevonada" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Crear Nadador</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/usuarios/editnada" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Ver - Editar Nadador</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ ruta }}/usuarios/competencia" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Subir Datos Nadadores</p>
									</a>
								</li>
							</ul>
							
						</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 3 %}
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-copy"></i>
								<p>
									Admin del sistema
									<i class="fas fa-angle-left right"></i>
									{#<span class="badge badge-info right">6</span>#}
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/Admin/resultados" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Subir resultados torneo</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ ruta }}/Admin/tiempos" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Editar Tiempos</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ ruta }}/admin/index" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Creación de Torneos</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ ruta }}/admin/listar" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Editar Torneos</p>
									</a>
								</li>
														
							</ul>							
						</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 4 %}
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-edit"></i>
								<p>
									Información
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="{{ ruta }}/Profile/club" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Información del Club</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ ruta }}/Profile/listado" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Nadadores</p>
									</a>
								</li>
							</ul>
						</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 5 %}
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-swimming-pool"></i>
							<p>
								Torneos
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">							
							
														
							<li class="nav-item">
								<a href="{{ ruta }}/torneo/index" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Inscripción Torneos</p>
								</a>
							</li>							
							<li class="nav-item">
								<a href="{{ ruta }}/torneo/resumen" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Resumen Inscripciones</p>
								</a>
							</li>							
							
						</ul>
					</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 6 %}
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-swimmer"></i>			
							<p>
								Reportes
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="{{ ruta }}/ranking/index" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Ranking</p>
								</a>
							</li>			
						</ul>
					</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 7 %}
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas  fa-signal"></i>
							<p>
								Puntajes
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							
							<li class="nav-item">
								<a href="{{ ruta }}/puntajes/index" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Subir Puntajes</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ ruta }}/puntajes/listar" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Ver Puntajes General</p>
								</a>
							</li>					
							<li class="nav-item">
								<a href="{{ ruta }}/puntajes/promedio" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Ver Puntajes Promedio</p>
								</a>
							</li>
						</ul>
					</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 9 %}
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="nav-icon fas  fa-address-card"></i>
							<p>
								Registro Club
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">							
							<li class="nav-item">
								<a href="{{ ruta }}/registro/index" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Renovar</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ ruta }}/registro/index" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>HV Nadadores</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ ruta }}/registro/index" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>HV Entrenadores</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ ruta }}/registro/index" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Certificaciones</p>
								</a>
							</li>
							
						</ul>
					</li>
					{% endif %}	
				{% endfor %}

				{% for modulo in session.permissions  %}
					{% if modulo.module_id == 10 %}
					{% endif %}	
				{% endfor %}		
				
		
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
